[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Quick"]
	path = Quick
	url = git@github.com:Quick/Quick.git
[submodule "Nimble"]
	path = Nimble
	url = git@github.com:Quick/Nimble.git
